# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*.xml
.idea

# gradle
build
.gradle

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Files from Forge MDK
forge*changelog.txt
/src/generated/
/src/test/

# other
logs
run
runs
run_data
run_server
run_test
*/.DS_Store
.DS_Store
repo
/run-server/
/run-data/
